body {
    margin: 0 auto;
    min-height: 500px;
    min-width: 500px;
}

#questions {
    text-align: center;
}

#sendBtn {
    font-size: 2em;
}

#myCanvas {
    padding: 50px;
    display: none;
}